.addButton:hover{
  background-color: var(--success-hover);
  border-color: var(--success-hover);
}

.addButton {
  background-color: var(--success-color);
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-color: var(--success-color);
  color: white;
  height: var(--common-height);
  max-width: 15%;
  min-width: 10%;
}

.contentDiv {
  margin-top: 5px;
}

.inputContainer {
  align-items: center;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  height: var(--common-height);
}

.mainDiv{
  max-width: 90%;
  min-width: 50%;
  margin: 0 auto;
}

.taskCheckBox {
  align-items: center;
  display: flex;
  flex: 0 0 5%;
  justify-content: center;
}

.taskList{
  border-color: var(--tertiary-color);
  border-radius: var(--border-radius);
  border-style: solid;
  list-style-type: none;
  padding-left: 0px;
}

.taskInput {
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  flex: 1;
  height: var(--common-height);
}

.taskItem {
  flex: 1;
}

.taskRow {
  align-items: center;
  border-bottom-style: solid;
  border-color: var(--secondary-color);
  border-width: 1px;
  display: flex;
  height: var(--common-height);
  width: 100%;
  padding: 3px 0;
}

.row{
  width: 100%;
}

.col25{
  width: 25%;
}

.col50{
  width: 50%;
}

.col75{
  width: 75%;
}

.col, .col100{
  width: 100%;
}