.addButton{
  background-color: #28ba41;
  border-radius: 5px;
  border-color: #28ba41;
  color: white;
  font-size: 1.4rem;
  width: 100%;
}

.addButton:hover{
  background-color: #29b540;
  border-color: #29b540;
}

.contentDiv {
  margin-top: 5px;
}

.taskInput{
  border-radius: 5px;
  width: 100%;
}

.mainDiv{
  width:50%;
  margin: 0 auto;
}

.taskRow{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.taskCheckBox{
  flex: 0 0 5%;
}

.taskItem{
  flex: 0 0 75%;
}

.taskList{
  list-style-type: none;
}

.row{
  width: 100%;
}

.col25{
  width: 25%;
}

.col50{
  width: 50%;
}

.col75{
  width: 75%;
}

.col, .col100{
  width: 100%;
}